@import '../../global.scss';

.hamburger {
    height: 20px;
    width: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 11;

    @include laptop {
        display: flex;
    }

    &.active {

        .bar:nth-child(1) {
            transform: rotate(45deg) translate(0px , 9.5px);
        }
        .bar:nth-child(2) {
            transform: rotate(-45deg);
        }
        .bar:nth-child(3) {
            transform: rotate(45deg) translate(-3px, 0px);
        }
    }

    .bar {
        background-color: #fff;
        width: 100%;
        height: 3px;
        border-radius: 10px;
        transition: all .5s cubic-bezier(0.62, 1.44, 0.6, -1.4);

        &:nth-child(1) {
            width: 75%;
        }

        &:nth-child(3) {
            width: 50%;
        }
    }
}