@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

:root {
    --backgroundPrimary: #0e1212;
    --backgroundSecondary: #212529;
    --fontPrimary: #fff;
    --fontSecondary: #9e9696;
    --accentColor: #682ae9;
    --lobsterFont: 'Lobster Two', cursive;
}

body {
    user-select: none;
    background-color: var(--backgroundSecondary);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.sectionMargin {
    margin: 0 0 0 60px;
}