@import '../../global.scss';

.text {

    p {
        font-size: 16px;
        color: var(--comment);
        margin: 15px 0;

        @include mobile {
            font-size: 12px;
        }
    }

    a {
        color: var(--primary);
        font-size: 16px;
        margin: 10px 0;
        text-transform: capitalize;
        transition: all .5s ease;

        @include mobile {
            font-size: 12px;
        }

        &:hover {
            opacity: .5;
        }
    }
}