.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    input {
        width: 100%;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 3px;
        color: var(--comment);
        background-color: var(--backgroundLight);
        margin: 5px 0;
    }

    .inputContainer {
        width: 100%;
        display: flex;
        gap: 5px;

        input {
            margin-bottom: 0;
        }
    }

    textarea {
        width: 100%;
        border: none;
        outline: none;
        border-radius: 3px;
        background-color: var(--backgroundLight);
        color: var(--comment);
        padding: 10px;
    }

    .submitBtn {
        color: var(--backgroundLight);
        font-size: 16px;
        font-weight: 600;
        background-color: #f5f5f7;
        width: 20%;
        cursor: pointer;
    }
}