@import '../../global.scss';

.home {
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    position: relative;
    overflow: hidden;
    animation: reveal 1.5s linear;

    @include laptop {
        padding: 20px 30px;
    }

    @keyframes reveal {
        0% {
            clip-path: circle(5%);
        }
        100% {
            clip-path: circle(100%);
        }
    }

    .desc {
        font-size: 16px;
        color: var(--comment);
        padding: 10px;
        text-transform: capitalize;

        @include laptop {
            padding: 20px 30px;
        }

        @include mobile {
            font-size: 12px;
        }
    }

    .btnContainer {

    button {
        padding: 15px 30px;
        width: 200px;
        margin: 40px 10px 10px 10px;
        font-size: 16px;
        text-transform: capitalize;
        border-radius: 2px;
        border: 2px solid var(--primary);
        outline: none;
        background-color: transparent;
        color: var(--primary);
        cursor: pointer;

        &:hover {
            animation: reveal 1s linear;
            background-color: var(--primary);
            color: var(--font);
        }

        @include laptop {
            margin: 40px 30px 20px 30px;
        }

        @include mobile {
            font-size: 12px;
        }
    }
    }
}