@import '../../global.scss';

.intro {
    padding: 10px;

    @include laptop {
        padding: 20px 30px;
    }

    .introHeader {

        span {
            display: inline-block;
            color: var(--font);
            font-size: 80px;
            font-weight: 800;
            cursor: pointer;
            transition: all .5s ease;

            @include mobile {
                font-size: 40px;
            }
            
            &:hover {
                animation: jumpy 1s both;
                color: var(--primary);
            }
        }

        .logoIcon {
            pointer-events: none;
            font-family: var(--lobster);
            text-shadow: 0 1px 0 #682ae9, 0 2px 0 #682ae9, 0 3px 0 #682ae9, 0 4px 0 #682ae9, 0 5px 0 #682ae9, 0 6px 0 #682ae9, 0 7px 0 #682ae9, 0 8px 0 #682ae9, 0 9px 0 #682ae9, 0 50px 30px rgba(0, 0, 0, 0.3);
        }
    }
}