@import '../../global.scss';

.contact {
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    align-items: center;

    @include laptop {
        flex-direction: column;
    }

    .contactLeft {
        width: 100%;
        padding: 10px;

        @include laptop {
            width: 100%;
            padding: 20px 30px;
        }

        .contactHeader {

            span {
                display: inline-block;
                font-size: 80px;
                font-weight: 800;
                color: var(--font);
                cursor: pointer;
                transition: all .5s ease;

                @include mobile {
                    font-size: 40px;
                }

                &:hover {
                    animation: jumpy 1s both;
                    color: var(--primary);
                }
            }
        }
    }

    .contactRight {
        width: 0%;
        padding: 10px;

        @include laptop {
            width: 100%;
            padding: 20px 30px;
        }
    }
}